header{
  position: fixed;
  top:0;
  width:100%;
  z-index:1;
}
.sfondo{
  background-color:rgb(44, 62, 80);
  color:white;
}
.setting{
margin:25px 0;
font-weight:700;
}
.left{
  font-size:30px;
}
.left:hover{
  color:white;
}
 .navbar-brand{
  color:white;
}
 .hover:hover{
  color:rgb(26, 188, 148);
}
@media all and (max-width: 991px) {
  .menu{
    display: none;
  }

}
@media all and (min-width: 992px) {
  .mostra-menu{
    display: none;
  }
}
.mod{
  background-color:rgb(26, 188, 148);
  border-radius:10px  ;
  border-color:rgb(26, 188, 148) ;
}
.menu-a-tendina{
display: none;
}
.mostra-menu:active .col-xs-12.menu-a-tendina{
  display: block;
}
.container-fluid.section-top p{
  font-size:20px;
  padding-bottom:30px;
}
.container-fluid.section-top h2{
  font-size:20px;
    padding:30px 0;
    font-weight:700;
}
.container-fluid.section-top{
background-color:rgb(44, 62, 80);
text-align: center;
color:white;
padding-bottom:50px;
}
.container-fluid.section-top img{
  text-align:right;
  padding-bottom:30px;
}
.container-fluid.section-bottom{
  text-align: center;
  background-color:black;
  padding:30px 0;
  color:white;
}
.section-top .row .col-lg-4 a{
  color:rgb(26, 188, 148);
}

/*section 1*/
.onesection .row .col-lg-offset-2.col-lg-8.col-lg-offset-2 img{
  height:250px;
  margin:100px 0 0 0;
}
.container-fluid.onesection {
  text-align: center;
  color:white;
  background-color:rgb(26, 188, 148);
}
.container-fluid.onesection h1{
  font-weight:700;
  font-size:60px;
}
.container-fluid.onesection p{
  font-size:25px;
  display: block;
}
@media all and (max-width: 410px) {
  .title h1{
  display:none;
  }

}
@media all and (min-width: 410px) {
  .title h2{
  display:none;
  }

}
.container-fluid.portfolio{
  text-align: center;
  padding:50px 0;
}
.container-fluid.portfolio h2{
  color:rgb(44, 62, 80);
  font-weight:700;
  font-size:40px;
}
.container-fluid.portfolio2 [class*='col-']{

}
.portfolio2{
  padding:0 10%;

}
.container-fluid.portfolio2 img{
  background-size:cover;
  width:100%;
  padding-bottom:30px;
}
.container-fluid.about {
background-color:rgb(26, 188, 148);
text-align:center;
padding:7% 15% 5% 15%;
color:white;
}
.container-fluid.about .col-lg-12.col-md-12.col-xs-12 h2{
  font-weight:700;
  font-size:50px;
  margin:0  0 5%  0;
}
.container-fluid.about .col-lg-6.col-md-12.col-xs-12 p{
  font-size:22px;
 text-align:left;
}
.free a{
  border-radius:15px;
  border-color:white;
  padding:15px 20px;
  font-size:25px;
  color:white;
  background-color:rgb(26, 188, 148);
}
.free a:hover{
  background-color:white;
  color:black;
  border-color:white;
}
