/*setting header*/
header{
  position: fixed;
  top:0;
  width:100%;
  z-index:1;
}
.sfondo{
  background-color:rgb(44, 62, 80);
  color:white;
}
.setting{
  margin:25px 0;
  font-weight:700;
}
.left{
  font-size:30px;
}
.left:hover{
  color:white;
}
 .navbar-brand{
  color:white;
}
 .hover:hover{
  color:rgb(26, 188, 148);
}
@media all and (max-width: 991px) {
  .menu{
    display: none;
  }

}
@media all and (min-width: 991px) {
  .mostra-menu{
    display: none;
  }
}
.mod{
  background-color:rgb(26, 188, 148);
  border-radius:10px  ;
  border-color:rgb(26, 188, 148) ;

}

.menu-a-tendina{
  display: none;
}
.mostra-menu:active .col-xs-12.menu-a-tendina{
  display: block;
}

/*section 1 avatar*/
.container-fluid.onesection {
  text-align: center;
  color:white;
  background-color:rgb(26, 188, 148);
  padding:10% 0 5% 0;
}
.container-fluid.onesection img{
  height:250px;
  margin:100px 0 0 0;
}

.container-fluid.onesection h1{
  font-weight:700;
  font-size:60px;
}
.container-fluid.onesection p{
  font-size:25px;
  display: block;
}
@media all and (max-width: 410px) {
  .title h1{
    display:none;
  }

}
@media all and (min-width: 410px) {
  .title h2{
    display:none;
  }

}
/*setting section2 portfolio*/
.container-fluid.portfoliotop{
  text-align: center;
  padding:50px 0;
}
.container-fluid.portfoliotop h2{
  color:rgb(44, 62, 80);
  font-weight:700;
  font-size:40px;
}
.portfoliobottom{
  padding:0 10%;

}
.container-fluid.portfoliobottom img{
  background-size:cover;
  width:100%;
  padding-bottom:30px;
}

/*setting section 3 about*/
.container-fluid.about {
  background-color:rgb(26, 188, 148);
  text-align:center;
  padding:50px 15%  50px 15%;
  color:white;
}
.container-fluid.about h2{
  font-weight:700;
  font-size:50px;
  margin:0  0 5%  0;
}
.container-fluid.about  p{
  font-size:22px;
 text-align:left;
}
.free a{
  border-radius:15px;
  border-color:white;
  padding:15px 20px;
  font-size:25px;
  color:white;
  background-color:rgb(26, 188, 148);
}
.free a:hover{
  background-color:white;
  color:black;
  border-color:white;
}
/*setting section4 contact*/
.contact{
  padding:50px 0;
}
.container-fluid.contacttop{
  text-align: center;
}
.container-fluid.contacttop h2{
  font-weight:700;
  font-size:50px;
  color:rgb(44, 62, 80);
  padding-bottom:40px;
}
.control-group.contactbottom{
  padding:0 25% ;
}
label{
  font-size:20px;
  opacity:0.5;
  padding:20px 0;
}
.size{
  height:150px;
}
.control-group.contactbottom button{
  width:100px;
  height:60px;

}
.control-group.contactbottom button:hover{
  background-color:rgb(21, 154, 128);
  border-color:rgb(21, 154, 128);

}

/*setting footer*/
.container-fluid.section-top p{
  font-size:20px;
  padding-bottom:30px;
}
.container-fluid.section-top h2{
  font-size:20px;
  padding:30px 0;
  font-weight:700;
}
.container-fluid.section-top{
  background-color:rgb(44, 62, 80);
  text-align: center;
  color:white;
  padding-bottom:50px;
}
.container-fluid.section-top img{
  text-align:right;
  padding-bottom:30px;
}
.container-fluid.section-bottom{
  text-align: center;
  background-color:black;
  padding:30px 0;
  color:white;
}
.section-top .row .col-lg-4 a{
  color:rgb(26, 188, 148);
}
